#banner {
  width: 100%;
  height: 721px;
  cursor: pointer;
  position: relative;
  overflow: hidden; }

#bnimgs {
  width: 19200px;
  height: 721px;
  position: absolute; }

#bnimgs img {
  float: left; }

#bnbtn {
  width: 266px;
  height: 10px;
  position: absolute;
  bottom: 50px;
  right: 238px; }

#bnbtn span {
  width: 19px;
  height: 5px;
  display: block;
  float: left;
  background-color: #ffffff;
  margin-left: 12px;
  margin-top: 10px; }

#bnbtn .first {
  background-color: #78bc27;
  height: 10px;
  width: 32px;
  margin-top: 5px; }

.direction {
  line-height: 40px;
  text-align: center;
  font-size: 36px;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 47%;
  opacity: 0; }

#prev {
  left: 217px;
  transition: 0.3s ease-in;
  height: 58px;
  width: 35px;
  display: block;
  background: url("../images/zuojt.png") no-repeat; }
  #prev p {
    width: 0px;
    height: 58px;
    background: url("../images/lvzuojt.png") no-repeat;
    transition: 0.5s;
    overflow: hidden; }

#next {
  right: 217px;
  transition: 0.3s ease-in;
  height: 58px;
  width: 35px;
  display: block;
  background: url("../images/youjt.png") no-repeat; }
  #next p {
    width: 35px;
    height: 58px;
    background: url("../images/lvyoujt.png") no-repeat left;
    transition: 0.5s;
    transform: scale(0);
    opacity: 0;
    transform-origin: right center; }

#banner:hover #prev {
  transform: translateX(20px);
  opacity: 1; }

#banner:hover #next {
  transform: translateX(-20px);
  opacity: 1; }

#prev:hover p {
  width: 35px; }

#next:hover p {
  transform: scale(1);
  opacity: 1; }
