@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

.header1 {
  background: #272727;
  height: 40px; }
  .header1 .main {
    width: 1445px;
    margin: 0 auto;
    height: 40px;
    font-size: 12px;
    font-family: '微软雅黑';
    box-sizing: border-box;
    line-height: 40px;
    position: relative; }
    .header1 .main a, .header1 .main p {
      color: #ffffff; }
    .header1 .main .hl {
      float: left;
      margin-left: -35px;
      width: 243px;
      height: 40px; }
      .header1 .main .hl a {
        display: block;
        float: left;
        margin-left: 35px;
        transition: color 0.5s ease; }
      .header1 .main .hl a:hover {
        color: #78bc27; }
      .header1 .main .hl .hldiv span {
        color: #ffffff;
        font-size: 12px; }
      .header1 .main .hl .hldiv ul {
        display: block;
        visibility: hidden;
        opacity: 0;
        width: 97px;
        height: 158px;
        padding: 9.1px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
        background: rgba(255, 255, 255, 0.95);
        position: absolute;
        left: 140px;
        top: 40px;
        transition: opacity 1s;
        z-index: 2; }
        .header1 .main .hl .hldiv ul .hdhlli {
          border-bottom: 1px dashed #d2d2d2; }
        .header1 .main .hl .hldiv ul a {
          color: #000000;
          display: block;
          margin-left: 0;
          height: 30px;
          width: 80px;
          line-height: 30px; }
        .header1 .main .hl .hldiv ul li {
          height: 30px;
          width: 80px; }
          .header1 .main .hl .hldiv ul li aside img {
            height: 77px;
            width: 77px; }
          .header1 .main .hl .hldiv ul li a {
            transition: color 0.5s ease; }
          .header1 .main .hl .hldiv ul li a:hover {
            color: #78bc27; }
      .header1 .main .hl .hldiv:hover ul {
        visibility: visible;
        opacity: 1;
        z-index: 2; }
    .header1 .main .hr {
      float: right;
      width: 545px;
      height: 40px; }
      .header1 .main .hr p {
        float: left; }
      .header1 .main .hr div {
        float: right; }
        .header1 .main .hr div a {
          font-size: 14px; }
          .header1 .main .hr div a img {
            position: relative;
            top: 3px; }

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1445px;
  height: 90px;
  margin: 0 auto;
  border-bottom: 1px solid #0092D8; }
  nav .nsec {
    width: 1190px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    nav .nsec .cplist {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 945px;
      height: 90px;
      padding-top: 40px; }
      nav .nsec .cplist li {
        position: relative;
        height: 50px; }
        nav .nsec .cplist li a {
          font-size: 18px;
          color: #1A1A1A;
          transition: color 0.5s; }
        nav .nsec .cplist li ul {
          z-index: 10;
          position: absolute;
          top: 55px;
          left: -10px; }
          nav .nsec .cplist li ul li {
            height: 49px;
            width: 223px;
            position: relative;
            background: rgba(228, 226, 226, 0.9); }
            nav .nsec .cplist li ul li a {
              color: #333;
              font-weight: 900;
              font-size: 15px;
              position: absolute;
              left: 50%;
              top: 50%;
              margin: -7px 0 0 -70px; }
            nav .nsec .cplist li ul li ul {
              position: absolute;
              left: 223px;
              top: 0; }
              nav .nsec .cplist li ul li ul li {
                background: rgba(247, 244, 244, 0.9); }
                nav .nsec .cplist li ul li ul li a {
                  margin-left: -40px; }
      nav .nsec .cplist li:nth-child(1) .hjsc_a {
        color: #ff8410; }
        nav .nsec .cplist li:nth-child(1) .hjsc_a img {
          height: 22px;
          width: 22px;
          margin-left: 10px;
          vertical-align: middle; }
      nav .nsec .cplist .sjs_a {
        color: #F0582A; }
      nav .nsec .cplist li:last-child {
        padding-right: 50px; }
      nav .nsec .cplist li:hover > a {
        color: #78bc27; }
      nav .nsec .cplist li span {
        color: #969696; }
    nav .nsec .cplist > li > ul {
      display: none; }
    nav .nsec .cplist > li:hover > ul {
      display: block; }
      nav .nsec .cplist > li:hover > ul li ul {
        display: none; }
    nav .nsec .cplist > li > ul > li:hover > ul {
      display: block; }
    nav .nsec .cplist > li > ul > li > ul > li:hover > ul {
      display: block; }
    nav .nsec .nsecdd {
      height: 90px;
      width: 245px;
      border-left: 1px solid gray;
      border-right: 1px solid gray;
      padding: 20px 0 0 11px; }
      nav .nsec .nsecdd article {
        height: 90px; }
        nav .nsec .nsecdd article aside input {
          padding: 0 15px;
          height: 34px;
          width: 150px;
          line-height: 30;
          background: #EBEBEB;
          font-size: 14px;
          color: #969696;
          vertical-align: middle;
          outline: none;
          border: 0; }
        nav .nsec .nsecdd article aside:nth-child(2) {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 120px;
          margin: 9px 0 1px; }
          nav .nsec .nsecdd article aside:nth-child(2) a {
            display: block;
            font-size: 12px;
            color: #5c5c5c;
            border-right: 1px solid #5c5c5c;
            padding-right: 9px;
            transition: color 0.5s; }
          nav .nsec .nsecdd article aside:nth-child(2) a:hover {
            color: #78bc27; }
          nav .nsec .nsecdd article aside:nth-child(2) a:last-child {
            border-right: none; }
        nav .nsec .nsecdd article span {
          display: block;
          float: right;
          font-size: 32px;
          color: #969696;
          position: relative;
          top: -55px;
          left: -7.5px; }

.mod_popup {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  min-width: 360px;
  padding-top: 40px;
  background: #fff;
  *border: #e6e6e6 solid 1px;
  border-radius: 3px;
  z-index: 10000; }

.mod_popup_mask {
  filter: alpha(opacity=50); }

.mod_info_popup .ico_right,
.mod_confirm_popup .ico_right,
.mod_info_popup .ico_error,
.mod_confirm_popup .ico_error {
  display: block;
  width: 48px;
  height: 48px;
  background: url(//img.mdcdn.cn/h5/img/module/mod_mpoup_ico.png);
  margin: 0 auto 20px; }

.mod_info_popup .ico_error,
.mod_confirm_popup .ico_error {
  background-position: 0 -49px !important; }

.mod_popup_tips .ico_right,
.mod_popup_tips .ico_error {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 7px;
  background: url(//img.mdcdn.cn/h5/img/module/mod_mpoup_ico.png);
  vertical-align: -3px; }

.mod_info_popup .ico_right,
.mod_confirm_popup .ico_right {
  background-position: 0 0; }

.mod_popup_tips .ico_right {
  background-position: -50px 0; }

.mod_popup_tips .ico_error {
  background-position: -50px -17px; }

.mod_confirm_popup,
.mod_info_popup {
  *width: 360px; }

.mod_popup_close {
  position: absolute;
  right: 13px;
  top: 8px;
  color: #999;
  font-size: 16px;
  font-weight: 700; }

.mod_popup_close:hover {
  text-decoration: none;
  color: #333; }

.mod_popup_hd {
  margin-top: -5px;
  padding: 0 60px;
  font-size: 18px;
  color: #333;
  text-align: center; }

.mod_popup_bd {
  margin-top: 10px;
  padding: 0 60px;
  color: #a1a1a1;
  text-align: center; }

.mod_popup_ft {
  margin-top: 30px;
  border-top: #e6e6e6 solid 1px;
  overflow: hidden; }

.mod_popup_ft .mod_popup_btn {
  height: 50px;
  margin-left: -1px;
  line-height: 50px;
  color: #0085cf;
  text-align: center; }

.mod_popup_btns_inline .mod_popup_btn {
  float: left;
  border-left: #e6e6e6 solid 1px; }

.mod_popup_btns_inline1 .mod_popup_btn {
  width: 100%; }

.mod_popup_btns_inline2 .mod_popup_btn {
  width: 50%; }

.mod_popup_btns_inline3 .mod_popup_btn {
  width: 33.3%; }

.mod_popup_btns_inline4 .mod_popup_btn {
  width: 25%; }

.mod_popup_btns_block .mod_popup_btn {
  display: block;
  height: 50px;
  margin-top: -1px;
  line-height: 50px;
  border-top: #e6e6e6 solid 1px; }

.mod_popup_tips {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 10000;
  padding: 10px 15px;
  background: #000;
  color: #fff;
  border-radius: 3px; }

.mod_popup_tips.show {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

.mod_popup_tips_content {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical: middle; }

.text_center {
  text-align: center; }

.prompt_txt {
  font-size: 18px; }

.red_txt {
  color: #f30; }

.gray_txt {
  color: #999; }

footer {
  box-sizing: border-box;
  position: relative;
  background: #272727; }
  footer .ftsecimg a:hover .ftimgp2 {
    width: 130px; }
  footer .ftbottom {
    height: 428px;
    background: #272727;
    overflow: hidden; }
    footer .ftbottom .ftsaup {
      width: 1445px;
      height: 293px;
      margin: 40px  auto  0px; }
      footer .ftbottom .ftsaup .fuple {
        width: 813px;
        height: 163px;
        float: left; }
        footer .ftbottom .ftsaup .fuple ul {
          display: flex;
          justify-content: space-between; }
          footer .ftbottom .ftsaup .fuple ul li h3 {
            font-size: 16px;
            color: #ffffff;
            font-weight: 800;
            padding-bottom: 13.9px; }
          footer .ftbottom .ftsaup .fuple ul li a {
            display: block;
            color: #b2b2b2;
            font-size: 14px;
            line-height: 32px;
            transition: color 0.5s; }
          footer .ftbottom .ftsaup .fuple ul li a:hover {
            color: #ffffff; }
      footer .ftbottom .ftsaup .fupri {
        height: 270px;
        width: 320px;
        float: right;
        margin-right: 70px; }
        footer .ftbottom .ftsaup .fupri a {
          display: block;
          font-size: 16px;
          color: #ffffff;
          margin-bottom: 3px; }
        footer .ftbottom .ftsaup .fupri input:nth-of-type(1) {
          padding: 0 20px;
          height: 38px;
          width: 190px;
          line-height: 38px;
          background: #272727;
          font-size: 14px;
          color: #999;
          vertical-align: middle;
          outline-color: #78bc27;
          border: 1px solid #666666;
          margin: 15px 0; }
        footer .ftbottom .ftsaup .fupri input:nth-of-type(2) {
          box-sizing: border-box;
          height: 40px;
          width: 80px;
          line-height: 38px;
          background: #78bc27;
          font-size: 16px;
          color: #ffffff;
          vertical-align: middle;
          border: none; }
        footer .ftbottom .ftsaup .fupri p {
          font-size: 14px;
          color: #7a7a7a;
          margin-bottom: 15px; }
          footer .ftbottom .ftsaup .fupri p a {
            display: inline;
            font-size: 14px;
            color: #7a7a7a;
            text-decoration: underline; }
        footer .ftbottom .ftsaup .fupri aside p {
          color: #B2B2B2;
          margin-top: 5px; }
  footer figure {
    height: 1px;
    border-bottom: 1px solid #3E3E3E; }
  footer .ftsadown {
    width: 1445px;
    margin: 0 auto; }
    footer .ftsadown .footerle {
      float: left;
      width: 530px;
      font-size: 14px;
      color: #808080; }
      footer .ftsadown .footerle p {
        padding-top: 12px; }
        footer .ftsadown .footerle p a {
          font-size: 14px;
          color: #808080; }
          footer .ftsadown .footerle p a img {
            vertical-align: middle; }
      footer .ftsadown .footerle span {
        display: inline-block;
        padding-top: 12px; }
    footer .ftsadown .footerri {
      width: 350px;
      height: 40px;
      float: right;
      padding-top: 32px; }
      footer .ftsadown .footerri aside:nth-of-type(1) {
        float: left; }
        footer .ftsadown .footerri aside:nth-of-type(1) p {
          font-size: 14px;
          color: #b2b2b2; }
          footer .ftsadown .footerri aside:nth-of-type(1) p a {
            vertical-align: middle;
            margin-right: 19px; }
      footer .ftsadown .footerri aside:nth-of-type(2) {
        margin-top: 3px;
        float: right; }
        footer .ftsadown .footerri aside:nth-of-type(2) img {
          vertical-align: middle; }
        footer .ftsadown .footerri aside:nth-of-type(2) select {
          background: #000000;
          color: #b2b2b2;
          border: none;
          width: 83px;
          height: 22px; }

.righttool {
  height: 238px;
  width: 57px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 10;
  position: fixed;
  right: 20px;
  top: 430px; }
  .righttool section {
    height: 57px;
    width: 57px;
    background: #78BC27;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative; }
    .righttool section span {
      font-size: 26px;
      color: #FFFFFF; }
    .righttool section p {
      color: #FFFFFF;
      font-size: 14px; }
    .righttool section i {
      height: 20px;
      width: 20px;
      border-radius: 50%;
      background-color: #ff6600;
      color: #ffffff;
      position: absolute;
      top: -10px;
      display: flex;
      justify-content: center;
      align-items: center; }
  .righttool .scrTop {
    background-color: rgba(255, 255, 255, 0.8);
    opacity: 0; }
